body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #f37021;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

.poke-logo {
  width: 200px;

}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px;
}

.pokemon-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover .pokemon-image {
  transform: rotateY(180deg);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #f37021;
  color: white;
  border: 1px solid #f37021;
  border-radius: 5px;
}

.page-link:hover {
  background-color: #fff;
  color: #f37021;
}

.error-message {
  color: #d32f2f;
  font-weight: bold;
}

#searchInput {

  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#searchBtn, #prevBtn, #nextBtn, #resetBtn {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn {
  background-color: #4caf50;
  color: white;
}

#prevBtn, #nextBtn, #resetBtn {
  background-color: #2196F3;
  color: white;
}

#searchBtn:hover, #prevBtn:hover, #nextBtn:hover, #resetBtn:hover {
  opacity: 0.8;
}